        body {
            margin: 0;
            padding: 0;
        }
        
        li {
            list-style: none;
        }
        
        a {
            text-decoration: none;
        }
        
        a:hover {
            opacity: .5;
        }
        
        header {
            color: white;
            width: 100%;
            height: 80px;
            opacity: .7;
            background-color: black;
        }
        
        button {
            font-size: 18px;
            color: white;
            display: inline-block;
            padding: 10px 25px;
            border-radius: 20px;
            border: .2;
            outline: none;
        }
        
        button:hover {
            opacity: .9;
        }
        
        footer {
            width: 100%;
        }
        
        .header-logo {
            font-size: 26px;
        }
        
        .Header-container {
            color: white;
            align-items: center;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
        
        .header-logo {
            display: inline-block;
        }
        
        .nav-menu {
            display: flex;
        }
        
        .nav-menu li {
            margin-left: 50px;
        }
        
        .nav-menu a {
            padding: 10px 0;
            color: white;
            display: block;
            height: 100%;
        }
        
        .Top-wrapper {
            color: white;
            margin: 0 auto;
            padding: 100px 0px;
            width: 100%;
            height: 100%;
            background-image: url(../img/imge01.JPG);
            background-size: cover;
            background-position: center;
        }
        
        .Top-wrapper h1 {
            opacity: .8;
            font-size: 36px;
            letter-spacing: 5px;
        }
        
        .container {
            margin: 0 auto;
            width: 80%;
            text-align: center;
        }
        
        .button-New {
            background-color: #239b76;
        }
        
        .button-Facebook {
            margin-right: 20px;
            background-color: #3b5998;
        }
        
        .button-Twitter {
            background-color: #55acee;
        }
        
        .Lesson-wrapper {
            background-color: rgb(224, 220, 211);
            padding: 100px 0px;
        }
        
        .Lesson-wrapper h2,
        {
            opacity: .6;
        }
        
        .Lesson {
            display: flex;
            justify-content: space-around;
        }
        
        .Lesson-icon {
            width: 20%;
        }
        
        .icon {
            position: relative;
        }
        
        .Lesson-name {
            color: white;
            position: absolute;
            top: 35%;
            width: 100%;
        }
        
        .Message-wrapper {
            padding: 100px 0px;
        }
        
        .Message-wrapper h2 {
            opacity: .6;
        }
        
        .footer-container {
            margin: 0 auto;
            width: 80%;
            text-align: left;
            border-top: 1px solid rgb(218, 177, 15);
            opacity: .5;
        }
        
        .footer-container img {
            width: 10%;
        }
        
        .footer-container p {
            margin: -10px;
            padding: 0;
        }